.App {
  text-align: center;
}

h1 {
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

svg {
  margin-top: 20px;
  background-color: #f0f0f0;
}

circle {
  stroke: black;
  stroke-width: 1px;
}

rect {
  stroke: black;
  stroke-width: 1px;
}

line {
  stroke-width: 2px;
}

.slider-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.slider-container label {
  margin-right: 10px;
}

.slider-container input[type="range"] {
  flex-grow: 1;
  margin-right: 10px;
}
